body{
    background-color: #EDEDED;
}

@media print{
    #filtro, .colunaOpcoes{
        display: none;
    }

    #conteinerTabela{
        font-size: 10px;
    }
}


#topicos{
    justify-content: center;
}