#filtroPesquisa{
    display: flex;
    justify-content: center;
}

#inputPesquisa{
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 50px;
}

#conjuntoFiltroCheckBox{
    display: flex;
    align-items: center;
}

.colunaOpcoes{
    cursor: pointer;
}
