#topicos{
    justify-content: center;
}

body{
    background-color: #EDEDED;
}

.colunaOpcoes{
    text-decoration: none;
    

    #lixeira{
        cursor: pointer ;
    }
}

@media print{
    #filtro, .colunaOpcoes{
        display: none;
    }

    #conteinerTabela{
        font-size: 10px;
    }
}